<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748097904063-ffjqn8a61nt8vn1r39p3slj4i64e7d73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748097904063-ffjqn8a61nt8vn1r39p3slj4i64e7d73</string>
	<key>API_KEY</key>
	<string>AIzaSyDsKa3ep4UfX1VtFufsM4qqZvPhK66_bkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>748097904063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barberShop</string>
	<key>PROJECT_ID</key>
	<string>barbershop-4d064</string>
	<key>STORAGE_BUCKET</key>
	<string>barbershop-4d064.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748097904063:ios:1375b43fde5e4e2aa6150a</string>
</dict>
</plist>